@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.root{
    font-family: 'Alegreya', Nunito;
}
#dive {
    background-color: #ff8400 ;
     color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    }
   
    .btnCustom {
        margin: 5px;
        border-color: #ff8400;
      border-width: 2px;
        font-weight: bold;
    }